@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
h1,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
h1 {
  color: #1c0955;
}
h6 {
  font-size: 16px;
  color: black;
}
h3 {
  font-size: 20px;
}
.content-container {
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

.city {
  font-weight: 500;
}

.city1 {
  color: rgb(37, 222, 37);
}
.city2 {
  color: orange;
}
.city3 {
  color: red;
}
.city4 {
  color: blueviolet;
}
.city5 {
  color: blue;
}

.city-textbox {
  max-width: 600px;
  border: 2px solid yellow;
}

.wind {
  color: rosybrown;
  font-weight: 600;
  font-family: monospace;
}

.temperature {
  font-weight: 800;
  font-size: 48px;
}
.day,
.temp {
  font-weight: 500;
}
.cloud {
  font-size: 30px;
}

.temperature-unit {
  position: relative;
  top: -18px;
  font-size: 25px;
  font-weight: 600;
}
@media (max-width: 900px) {
  body {
    background: none;
  }
  .weather-container {
    width: 400px;
    height: 750px;
    margin: 80px auto;
    border-radius: 10px;
    padding: 10px;
  }
  .weather-search-bar {
    width: 80%;
    margin: 5px auto;
  }
  .search-input {
    width: 70%;
    padding: 10px 15px;
    font-size: 14px;
  }
  .search-button {
    padding: 8px 20px;
    font-size: 14px;
  }
  .city {
    margin: 0;
    font-size: 25px;
  }
  .city-weather {
    width: 75%;
    height: 100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    padding: 5px 0px 0px 30px;
  }
}
